:root {
  --background-color: #212121;
  --background-transparent:  #ffffff6b;
  --light-transparent: #ffffffcc;
  --primary: #3c00c8;
  --light-primary: #5000fa;
  --default-font-color: #666666;
  --warn-color: #c78100;
  --light-warn-color: #ee9b00;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans',  Arial, sans-serif;
}

html {
  height: 100%;
  font-size: 18px;
}

body {
  padding: 0;
  margin:0;
  background-color: var(--background-color);
  color: var(--default-font-color);
  height: 100%;
  background-image: url(./assets/clear-sky.jpg);
  background-size:cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::before {
  height: 100%;
  z-index: -1;
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0; 
  background: var(--background-transparent);
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
}
